[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ujson = "*"
uvloop = "*"
uvicorn = "*"
sanic-json-logging = "*"
sanic = "==19.12.0"

[requires]
python_version = "3.8"
